<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bangkit2024BFAA"
        tools:targetApi="31">
        <activity
            android:name=".LocalDataPersistent.SharedPreferences.Setting.MainSettingPreference"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalDataPersistent.SharedPreferences.MenyimpanData.FormUserPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".LocalDataPersistent.SharedPreferences.MenyimpanData.MainSharedPreferences"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalDataPersistent.MenyimpanMembukaFile.MainMenyimpanMembukaFile"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Testing.MainUnitTest"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidArchitectureComponent.FragmentKTX.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidArchitectureComponent.FragmentKTX.MainFragmentKTX"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidArchitectureComponent.LiveDataAPI.ui.MainLiveDataAPI"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidArchitectureComponent.LiveData.MainLiveData"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidArchitectureComponent.ViewModel.MainViewModel"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundThreadDanNetworking.Retrofit.ui.MainRetrofit"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundThreadDanNetworking.LoopJ.ListQuotesActivity"
            android:exported="false" />
        <activity
            android:name=".BackgroundThreadDanNetworking.LoopJ.MainLoopJ"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundThreadDanNetworking.BackgroundThread.MainCoroutine"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundThreadDanNetworking.BackgroundThread.MainBackgroundThread"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation.TabLayout.single.MainSingleTabLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation.TabLayout.MainTabLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation.BottomNav.MainBottomNav"
            android:exported="true"
            android:label="@string/title_activity_main_bottom_nav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation.NavDrawer.ui.subway.SubwayActivity"
            android:exported="false" />
        <activity
            android:name=".Navigation.NavDrawer.MainNavDrawer"
            android:exported="false"
            android:label="@string/title_activity_main_nav_drawer"
            android:theme="@style/Theme.Bangkit2024BFAA.NoActionBar" />
        <activity
            android:name=".Navigation.AppBar.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Navigation.AppBar.MainAppBar"
            android:exported="false" />
        <activity
            android:name=".Navigation.NavComponent.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Navigation.NavComponent.MainNavigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fragment.LatihanFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>